In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('/Users/mahmoud/Documents/Project_3/data.csv')

df.head()

,Unnamed: 0,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,2682,DC,55,510,354-5058,yes,no,0,106.1,77,...,100,10.50,96.4,92,4.34,12.9,3,3.48,0,False
1,3304,IL,71,510,330-7137,yes,no,0,186.1,114,...,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True
2,757,UT,112,415,358-5953,no,no,0,115.8,108,...,111,20.68,184.6,78,8.31,13.1,5,3.54,1,False
3,2402,NY,77,415,388-9285,no,yes,33,143.0,101,...,102,18.04,104.9,120,4.72,15.3,4,4.13,5,True
4,792,NV,69,510,397-6789,yes,yes,33,271.5,98,...,102,21.54,165.4,85,7.44,8.2,2,2.21,1,True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2999 non-null   int64
 1   state                   2999 non-null   object
 2   account length          2999 non-null   int64
 3   area code               2999 non-null   int64
 4   phone number            2999 non-null   object
 5   international plan      2999 non-null   object
 6   voice mail plan         2999 non-null   object
 7   number vmail messages   2999 non-null   int64
 8   total day minutes       2999 non-null   float64
 9   total day calls         2999 non-null   int64
 10  total day charge        2999 non-null   float64
 11  total eve minutes       2999 non-null   float64
 12  total eve calls         2999 non-null   int64
 13  total eve charge        2999 non-null   float64
 14  total night minutes     2999 non-null   float64
 15  total night calls       2999 non-null   int64
 16  total night charge      2999 non-null   float64
 17  total intl minutes      2999 non-null   float64
 18  total intl calls        2999 non-null   int64
 19  total intl charge       2999 non-null   float64
 20  customer service calls  2999 non-null   int64
 21  churn                   2999 non-null   bool
dtypes: bool(1), float64(8), int64(9), object(4)
memory usage: 495.1+ KB

In [7]:
# confirming there is no null values 
df.isna().sum()

Unnamed: 0                0
state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [8]:
# Any duplicates?
df.duplicated().sum()

0

In [9]:
df.tail()

,Unnamed: 0,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
2994,2763,NC,116,408,338-7527,no,yes,19,155.7,104,...,118,15.76,192.7,116,8.67,8.2,2,2.21,3,False
2995,905,WV,161,415,418-9036,no,no,0,191.9,113,...,87,6.03,204.8,107,9.22,13.4,4,3.62,4,True
2996,1096,RI,93,415,406-5584,no,no,0,98.4,78,...,129,21.22,248.2,114,11.17,14.2,4,3.83,1,False
2997,235,MN,139,510,374-9107,no,no,0,134.4,106,...,98,17.96,193.6,125,8.71,10.2,2,2.75,5,True
2998,1061,ND,132,415,336-4281,no,yes,31,174.5,101,...,105,20.88,172.8,76,7.78,10.3,9,2.78,1,False

In [10]:
df.describe()

,Unnamed: 0,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,1666.911304,100.784261,437.164722,8.072357,179.538980,100.401134,30.522154,201.285729,99.912638,17.109520,200.670590,99.919973,9.030267,10.240113,4.496165,2.765368,1.558186
std,958.438833,39.819788,42.389450,13.721684,54.427739,20.117802,9.252662,50.531227,19.805754,4.295142,50.572556,19.650420,2.275836,2.780354,2.470892,0.750685,1.314414
min,0.000000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,31.200000,12.000000,2.650000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,839.000000,74.000000,408.000000,0.000000,143.650000,87.000000,24.420000,167.000000,87.000000,14.200000,166.800000,86.500000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,1672.000000,100.000000,415.000000,0.000000,179.500000,101.000000,30.520000,201.300000,100.000000,17.110000,200.600000,100.000000,9.030000,10.300000,4.000000,2.780000,1.000000
75%,2493.500000,127.000000,510.000000,19.000000,216.000000,114.000000,36.720000,235.800000,113.000000,20.040000,234.900000,113.000000,10.570000,12.100000,6.000000,3.270000,2.000000
max,3332.000000,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,361.800000,170.000000,30.750000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [11]:
# value counts of churn (our target)
df['churn'].value_counts()

False    2569
True      430
Name: churn, dtype: int64

In [12]:
# imbalance which will have to be dealt with; find the % 
df['churn'].value_counts(normalize=True)

False    0.856619
True     0.143381
Name: churn, dtype: float64

# Build a classifier to predict whether a customer will ("soon") stop doing business with SyriaTel, a telecommunications company

- Some questions:
1. Are there certain areas or states where it is more likely to have a customer churn?
2. Is there a correlation between usage of service and churning?

In [16]:
# first split the data to avoide data leakage
# our test split is using 10% of df data
df_train, df_test = train_test_split(df, test_size=.1, random_state=1)

In [17]:
# having this trained data in a dataset saved
df_train.to_csv('/Users/mahmoud/Documents/Project_3_SyriaTel_Customer_Churn/train.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/mahmoud/Documents/Project_3_SyriaTel_Customer_Churn/train.csv'

In [26]:
# having this test data is a dataset saved
df_test.to_csv('/Users/mahmoud/Documents/Project_3_SyriaTel_Customer_Churn/test.csv')

In [18]:
df.to_excel('/Users/mahmoud/Documents/Project_3/train.xlsx', index=False)